<!doctype html>
<head>

<title>Tinyapp!</title>
</head>
<body>
  <% if (username) { %>
  <h1><%= username.id %></h1>
  <form method="POST" action="/logout"><button>Logout</button></form>
  <% } else { %>
  <a href="register">Register</a> |
  <a href="login">Login</a>
    <% }; %>
  <br>


</body>