<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<h1>Please, log yourself in!</h1>
  <form method="POST" action="/login"><input type="email" name="email" placeholder="Your email"></input><input type="password" name="password" placeholder="Your password"></input><button>Login</button></form><br>
  <a href="/register"><h2>Not a user? Become one!</h2></a>

</body>
</html>