<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <ul style="display: inline">
  <% for (var url in urls) { %>

  <li href='#'><%= urls[url] %></li><div display="block"><form style="display: inline" method="POST" action="urls/<%= url %>/update"><button>Edit</button></form>

  <form style="display: inline" method="POST" action="/urls/<%= url %>/delete"><button>Delete</button></form></div>
<% };                %>
<a href='urls/new'><h2>Create a new url!</h2></a>


</ul>
</body>
</html>