<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
  <% for (var url in urls) { %><form method="POST" action="/urls/<%= url %>/delete"><li href='#'><%= urls[url] %></li><button>Delete</button></form>


<% };                %>


</ul>
</body>
</html>