<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>

      <li><%= lurl %> - <%= shortURL %> </li>



</ul>
</body>
</html>