<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
      <form method="POST" action="/urls/<%= shortURL %>"><li><%= lurl %> - <%= shortURL %> </li><input type="text" name="urlName"><button>Update</button></form>




</ul>
</body>
</html>