<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
  <% for (var url in urls) { %><li href='#'><%= urls[url] %></li><div display="block"><form method="POST" action="urls/<%= url %>/update"><button>Edit</button></form><form method="POST" action="/urls/<%= url %>/delete"><button>Delete</button></form></div>


<% };                %>


</ul>
</body>
</html>